body{
    padding-left: 20px;
}
button{
    height: 150px;
    width: 150px;
    position: absolute;
}


#W{
    margin-top: 20px;
    margin-left: 650px;
}

#A{
    margin-top: 165px;
    margin-left: 450px;
}

#S{
    margin-top: 165px;
    margin-left: 650px;
}

#D{
    margin-top: 165px;
    margin-left: 850px;
}

#stop{
    position: absolute;
    margin-left: 0px;
    height: 150px;
    width: 320px;
    margin-top: 210px;
}

#stop-looking{
    position: absolute;
    margin-left: 0px;
    height: 150px;
    width: 320px;
    margin-top: 40px;
}