body{
    padding-left: 20px;
}
button{
    height: 300px;
    width: 280px;
    position: absolute;
}


#W{
    margin-top: 20px;
    margin-left: 675px;
}

#A{
    margin-top: 305px;
    margin-left: 350px;
}

#S{
    margin-top: 305px;
    margin-left: 675px;
}

#D{
    margin-top: 305px;
    margin-left: 1000px;
}

#stop{
    position: absolute;
    margin-left: 0px;
    height: 300px;
    width: 320px;
    margin-top: 353px;
}

#stop-looking{
    position: absolute;
    margin-left: 0px;
    height: 300px;
    width: 320px;
    margin-top: 40px;
}